<div class="app-wrapper">
  <h1>Typing challenge</h1>
  <!-- <div>
    <span *ngFor="let letter of randomText.split(''); let i = index" [ngStyle]="letterStyle(i)">{{letter}}</span>
  </div> -->


  <span *ngFor="let letter of randomText.split(''); let i = index" [class]="compare(letter, enteredText[i])">{{ letter }}</span>
  <input (input)="onInput(userInput.value)" placeholder="Enter text..." #userInput/>
  <div *ngIf="randomText === enteredText" class="message">
    <h2>Success!</h2>
  </div>
</div>

